body {
    margin: 50px;
}

#slider {
    position: relative;
}

img {
    width: 100%;
}

#slider img{
    display: block;
}

i.fas {
    font-size: 50pt;
    color: #fff;
    padding: 5px;
    background-color: #000;
    opacity: .7;
    position: absolute;
    z-index: 999;
    top: 50%;
    transform: translateY(-50%);
}

i.fas:hover {
    background-color: rgb(107, 4, 4);
    cursor: pointer;
}

i.fas.fa-arrow-left {
    border-radius: 0 8px 8px 0;

}

i.fas.fa-arrow-right {
    border-radius: 8px 0 0 8px;
    right: 0;

}

body > section > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-left: 0;
}

body > section > ul > li {
    height: 15px;
    width: 15px; 
    flex-direction: row; 
    margin: 10px;
    border: 2px solid rgb(107, 4, 4);
    border-radius: 12px;
    cursor: pointer;
}

body > section > ul > li:hover, li.fill {
    background-color: rgb(107, 4, 4);
}

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
  }

  .swipe-wrap {
    overflow: hidden;
    position: relative;
  }
  
  .swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
  }